<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>ООО ШТРАФБОКС</title>
 
    <link rel="stylesheet" href="static/index_read.css" />
    <link rel="stylesheet" href="static/index_read.js" />
    <link rel="stylesheet" href="aaa.scss" />

    <!-- <style>
        BODY
        {
        background: url("IMG_12.jpg") no-repeat center ; /* Путь к графическому файлу, запрет на повтор картинки и разместить по центру */
        }
    </style> -->

</head>
 
<body>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <class="first">
        <nav role="navigation">
            <div id="menuToggle">
            <!--
            A fake / hidden checkbox is used as click reciever,
            so you can use the :checked selector on it.
            -->
            <input type="checkbox" />
            
            <!--
            Some spans to act as a hamburger.
            
            They are acting like a real hamburger,
            not that McDonalds stuff.
            -->
            <span></span>
            <span></span>
            <span></span>
            
            <!--
            Too bad the menu has to be inside of the button
            but hey, it's pure CSS magic.
            -->
            <ul id="menu">
                <a href="#"><li>Главная</li></a>
                <a href="#ОНАС"><li>О нас</li></a>
                <a href="#ТАРИФ"><li>Тариф</li></a>
                <a href="#"><li>Связаться</li></a>
            </ul>
            </div>
        </nav>
        <br>
        <h1 align="center">ООО ШТРАФБОКС</h1>
        <br>
        <br>
    
        <p align="center">ОТВЕТСТВЕННОЕ ХРАНЕНИЕ залоговых, лизинговых и арестованных авто</p>
        <p align="center"> МОСКВА 2021</p>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <img src="static/img/IMG_first.jpg" class="blue">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr>
        </div>
        <h2 id="ОНАС" align="center">О НАС</h2>
        <p align="center">ООО «ШТРАФБОКС» ЯВЛЯЕТСЯ СПЕЦИАЛИЗИРОВАННОЙ СТОЯНКОЙ ДЛЯ ХРАНЕНИЯ ЛИЗИНГОВЫХ, ЗАЛОГОВЫХ И АРЕСТОВАННЫХ
            ТС, НАШИМИ КЛИЕНТАМИ ЯВЛЯЮТСЯ ИСКЛЮЧИТЕЛЬНО БАНКИ И ЛИЗИНГОВЫЕ КОМПАНИИ</p>
        <br>
        <h3 align="left">
            НАША КОМПАНИЯ ОБЛАДАЕТ РЯДОМ
            СУЩЕСТВЕННЫХ ПРЕИМУЩЕСТВ
            ПЕРЕД КОНКУРЕНТАМИ НА РЫНКЕ
        </h3>
        <p align="left">
            - Квалифицированные охранники,
            проходящие курсы повышения
            квалификации
        </p>
        <p align="left">
            - Служебные собаки, круглосуточно
            патрулирующие территорию
        </p>
        <p align="left">
                        - Оборудование необходимым
                        инструментом для запуска ТС с
                        севшими аккумуляторами, зарядные
                        устройства для аккумуляторов,
                        компрессоры, инструмент для мелкого
                        ремонта и другое оборудование,
                        которое при необходимости
                        предоставляется клиентам
                        БЕСПЛАТНО
        </p>
        <p align="left">
                        - На нашей территории нет других
                        арендаторов, а значит «случайное»
                        проникновение 3-х лиц на территорию
                        исключено
        </p>
        <p align="left">
                        - Имеется собственный манипулятор,
                        при необходимости, возможна
                        перевозка неисправного ТС по заявке
                        заказчика
        </p>
        <br>
        <br>
        <br>
        <h3 align="right">
                        МЫ ОКАЗЫВАЕМ
                        УНИКАЛЬНЫЙ СПЕКТР УСЛУГ
                        СВОИМ КЛИЕНТАМ
        </h3>
        <p align="right">
                        - Предоставление фотографий ТС
        </p>
        <p align="right">
                        - Составление актов осмотра ТС
        </p>
        <p align="right">
                        - Первоначальная дефектовка
                        неисправных ТС
        </p>
        <p align="right">
                        - Оценка ТС
        </p>
        <p align="right">
                        - Прием/выдача ТС, передача личных
                        вещей должникам и 3-м лицам
                        по заявке заказчика
                        (при предоставлении
                        доверенности от заказчика)
        </p>
        <p align="right">
                        - Вашим сотрудникам больше
                        не нужно часто посещать стоянку,
                        что всегда очень времязатратно
                        в реалиях мегаполиса.
                        Мы берем это на себя!
        </p>
        <br>
        <br>
        <br>
        <br>            
        <p align="center">
                        - Мощное освещение и качественное
                        видеонаблюдение способствует комфортной
                        работе в любое время суток 24/7
        </p>
        <p align="center">
                        - Большая территория позволяет
                        размещать как
                        легковые
                        транспортные средства
                        так и коммерческий транспорт
        </p>
        <p align="center">
                        - Стоянка оборудована современными
                        охранными системами и средствами
                        противопожарной безопасности
        </p>
        <p align="center">
                        - В зимнее время года регулярно
                        производится обработка территории
                        противогололедными составами
        </p>
        <br>
        <br>
        <br>
        <img src="static/img/IMG_12.jpg" class="blue">
        <br>
        <br>
        <hr>
        <br>
        <br>
        <h3 align="left">НА ТЕРРИТОРИИ
                        СТОЯНКИ ЕСТЬ КОМФОРТНЫЙ
                        ОТАПЛИВАЕМЫЙ ОФИС</h3>
        <p align="left">
                        В офисе вы можете:
        </p>
        <p align="left">
                        проводить переговоры
                        с должниками в любую
                        погоду
        </p>
        <p align="left">
                        подписывать акты и др.
                        документы
        </p>
        <p align="left">
                        хранить ключи и
                        документы от авто
        </p>
        <p align="left">
                        заряжать аккумуляторы
        </p>
        <br>
        <br>
        <h3 align="center">
                        В ОФИСЕ ПОДКЛЮЧЕН ИНТЕРНЕТ
                        И ИМЕЕТСЯ ПРИНТЕР, ЕСТЬ ВОЗМОЖНОСТЬ
                        РАСПЕЧАТАТЬ ЛЮБОЙ ДОКУМЕНТ
                        ПОЛУЧЕННЫЙ ОТ КРЕДИТОРА В МОМЕНТЕ,
                        НЕ ВОЗВРАЩАЯСЬ В ОФИС
        </h3>
    </div>
        <section class="slider">  
            <!-- BEGIN SLICK SLIDE -->
            <div class="slick__slide">
                <br>
                <br>
                <figure class="menu-card">
                    <img src="static/img/IMG_1759.jpg" class="blue2" />
                    <figcaption>
                        <h3 align="center">
                                        Расположение
                                        территории
                                        по принципу «стоянка
                                        внутри стоянки»
                                        зарекомендовала себя
                                        с наиболее эффективной
                                        стороны, благодаря
                                        двойному периметру
                                        ограждения
                        </h3>
                </figure>
            </div>
            <!-- // END SLICK SLIDE -->        
            <!-- BEGIN SLICK SLIDE -->
            <div class="slick__slide">
                <figure class="menu-card">
                    <img src="static/img/IMG_1755.jpg" class="blue2" />
                    <figcaption>
                        <h3 align="center">
                                        Твердое асфальтовое покрытие
                                        территории и продуманная
                                        компоновка стояночных мест,
                                        способствует свободному движению
                                        любого транспортного средства своим
                                        ходом, а также удобному подъезду для
                                        эвакуатора
                        </h3>
                </figure>
            </div>
            <!-- // END SLICK SLIDE -->                    
            <!-- BEGIN SLICK SLIDE -->
            <div class="slick__slide">
                <figure class="menu-card">
                    <img src="static/img/IMG_1753.jpg" class="blue2" />
                    <figcaption>
                        <h3 align="center">
                                        Большая территория позволяет
                                        размещать как
                                        легковые
                                        транспортные средства
                                        так и коммерческий транспорт
                        </h3>
                </figure>
            </div>
            <!-- // END SLICK SLIDE -->        
            <!-- BEGIN SLICK SLIDE -->
            <div class="slick__slide">
                <figure class="menu-card">
                    <img src="static/img/IMG_1746.jpg" class="blue2" />
                    <figcaption></figcaption>
                    <h3 align="center">
                                    Сплошное
                                    ограждение
                                    с колючей
                                    проволокой
                                    и автоматическими
                                    воротами является
                                    надежной защитой
                                    от проникновения
                    </h3>
                </figure>
            </div>
        </section>
        <br>
        <br>
            <hr>
            <br>
            <br>
            <h2 align="center" id="ТАРИФ">ТАРИФ</h2>
            <div class="table-wrap">
                <table>
          <thead>
            <tr>
              <th>АВТОМОБИЛЬ</th>
              <th>СТОИМОСТЬ УСЛУГИ ХРАНЕНИЯ</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td data-label="Услуга">ЛЕГКОВЫЕ АВТОМОБИЛИ</td>
              <td data-label="Цена">150 рублей в сутки</td>
            </tr>
            <tr>
              <td data-label="Услуга">ГРУЗОВЫЕ АВТОМОБИЛИ</td>
              <td data-label="Цена">250 рублей в сутки</td>
            </tr>
            <br>
          </tbody>
        </table>
        <br>
        <br>
            </div>
            <br>
            <br>
            <hr>
            <br>
            <br>
            <br>
            <br>
            <img src="IMG_1760.jpg" class="blue">
            <br>
            <br>
            <br>
            <br>
        <div class="footer">
            <br>
            <h2 id="СВЯЗАТЬСЯ" align="center" ;>СВЯЗАТЬСЯ</h2>
            <ul>
                <li>ПОЧТА: info_shtrafbox@mail.ru</li>
                <li>ТЕЛЕФОН: +7-925-170-25-72</li>
                <li>МЫ ЗДЕСЬ: 8 мин от МКАД по Каширскому шоссе</li> 
            </ul>
            <br>
        </div>
            <!-- // END SLICK SLIDE -->        
            <!-- // SLICK CONTAINER -->
        </section>
        <br>
        <br>
        <br>
        <div class="final>">
            <h2 align="center" id="ТАРИФ">ТАРИФ</h2>
            label(for="shadow") 
              
        </div>

</body>
